<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>caffeine-ios-integration.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>caffeine-ios-unit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>caffeine-ios.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>caffeineHeaders.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3ADA101118C9BB2200AC1DB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AF0F3371890DEAF00B6491F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AF0F3471890DEAF00B6491F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AF3FF9A19861BB4009D1A0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
